#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to WeatherTop 1000
  </h1>
  <p>
    As WeatherTop Inc. are new to the software industry they are looking to ameliorate any
    risk by insisting on a working version of the application, even if not all of the features they
    requested are implemented. They have structured an incremental payment schedule
    accordingly, with 5 versions as follows:

    Version Package Label Payment
    1 Starter 0%-20%
    2 Baseline 20%-45%
    3 Release 1 45%-60%
    4 Release 2 60%-70%
    5 Release 3 70%-100%
  </p>
</section>
